<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>easy vote</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
    <link href="/css/common.css" rel="stylesheet" />
    <script>
        window.documentReadyCallbacks = [];
        window.documentReady = function (callback) {
            if (typeof callback === 'function') {
                documentReadyCallbacks.push(callback);
            }
        };
    </script>
</head>
<body>