{{>layout/header}}
<div class="container main-screen">
    <h1>easy vote</h1>
    <button class="create-vote-btn">투표 만들기</button>
    <input type="text" class="code-input" placeholder="코드 입력">
    <button class="enter-vote-btn">입장하기</button>
</div>
<script>
    documentReady(function () {

    })
</script>
{{>layout/footer}}